@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
}
.page-content {
  padding-top: 72px;
}
