.admin-page {
  min-height: calc(100vh - 80px);
  background: #fff9f0;
  padding: 32px;
}

.admin-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #4b5563;
}

.admin-row {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.admin-card {
  width: 300px;
  background: #5b6474;
  border-radius: 28px;
  padding: 48px 24px;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  /* for fixed scrolling */
  position: sticky;
  top: 80px;
  z-index: 10;
}

.admin-info {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-items: center;
  margin-bottom: 48px;
}

.admin-avatar {
  display: flex;
  align-items: center;
  justify-items: center;
  text-overflow: ellipsis;
}

.admin-avatar-border {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
  border: 2px solid white;
  flex: 0 0 auto;
}

.admin-avatar-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin-name {
  font-weight: 600;
}

.admin-email-group {
  font-size: 12px;
  font-weight: 600;
}

.admin-email {
  color: black;
}

.admin-btn {
  width: 100%;
  margin-top: 12px;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  background: #fff7ea;
  color: #5b6474;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.admin-btn.active {
  background: white;
}

.admin-panel {
  flex: 1;
  background: #fffaf1;
  border-radius: 24px;
  padding: 32px;
  min-height: 420px;
  border: 2px solid #5b6474;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-panel-title {
  color: #57c5c1;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.admin-panel p {
  text-align: center;
  font-size: 15px;
  color: #6b7280;
}
.admin-btn {
  display: block; /* makes NavLink behave exactly like button */
}

.admin-tabs {
  display: flex;
  align-items: center;
  justify-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/* ===== Content Management Grid ===== */

.cms-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 24px;
}

.cms-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.cms-card img {
  width: 100%;
  height: auto;
  border-radius: 0px;
  object-fit: cover;
}

.cms-card-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #57c5c1;
  text-align: center;
}
